@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  text-align: center;
  background-color: green;
}
.container-fluid {
  margin: 25px auto !important;
}
img {
  display: flex;
  float: inline-start;
  position: absolute;
  height: 450px;
  width: 300px;
  border-radius: 3% !important;
  background-color: green;
  z-index: 2;
}
.card {
  margin-top: 50px !important;
  height: 450px;
  width: 300px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 3% !important;
  z-index: 0;
}
.card-body {
  height: 350px;
}
.card-title {
  padding-top: 125px !important;
  font-size: 100px;
  color: black;
}
.card-header {
  display: flex;
  float: left;
  border: none;
}
.card-footer {
  display: flex;
  float: right;
  border: none;
}

#suitTop {
  font-size: 70px;
}

#suitBottom {
  font-size: 70px;
  transform: rotate(180deg);
}

button {
  background-color: lightblue !important;
}
button:hover {
  background-color: blue !important;
}
